<ion-view title="RoboRating" ng-controller="MainCtrl">
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-plus-circled" on-tap="newRating()"></button>
        <button class="button icon ion-qr-scanner" on-tap="scan()"></button>
        <button class="button icon ion-stats-bars" on-tap="report()"></button>
        <button class="button icon ion-android-share" on-tap="export()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list ratingList">
            <ion-item ng-repeat="round in rounds" href="#/round/{{round.roundNumber}}">
                <i class="icon ion-eye" ng-show="round.complete"></i>
                <i class="icon ion-eye-disabled" ng-show="!round.complete"></i>
                <span>Round: {{ round.roundNumber }}</span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
