 <ion-header-bar>
    <button class="button button-clear icon ion-android-done" on-tap="edit()"></button>
    <button class="button button-clear icon ion-eye" on-tap="markComplete()" ng-show="!rating.complete"></button>
    <button class="button button-clear icon ion-eye-disabled" on-tap="markIncomplete()" ng-show="rating.complete"></button>
    <button class="button button-clear icon ion-android-delete" on-tap="deleteRecord()"></button>
</ion-header-bar>
<div class="list card" style="margin-top: 4em;">
    <div class="item item-divider">General</div>
    <label class="item item-input">
        <span class="item-label">Team</span>
        <label class="valueLabel">({{rating.team.id}}) {{rating.team.name}}</label>
    </label>
    <label class="item item-input">
        <span class="input-text">Round</span>
        <input ng-model="rating.roundNumber" type="number" />
    </label>
    <label class="item item-select">
        <span class="input-label">Alliance</span>
        <select ng-model="rating.alliance" required>
            <option>Blue</option>
            <option>Red</option>
        </select>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">Autonomous</div>
    <label class="item item-select">
        <span class="input-label">Beacons</span>
        <select ng-model="rating.autonBeacons" ng-options="value for value in beacons"></select>
    </label>
    <label class="item item-input">
        <span class="input-label">Particles Shot</span>
        <input type="number" ng-model="rating.autonParticlesShot"/>
    </label>
    <label class="item item-input">
        <span class="input-label">Particles Scored</span>
        <input type="number" ng-model="rating.autonParticlesScored"/>
    </label>
    <label class="item item-select">
        <span class="input-label">Parking</span>
        <select ng-model="rating.autonomousParking" ng-options="location as location for location in locations"></select>
    </label>
    <label class="item item-toggle">
        <span class="input-label">Cap Ball touching floor</span>
        <label class="toggle">
            <input ng-model="rating.autonCapBall" type="checkbox" placeholder="All Clear" />
            <div class="track"><div class="handle"></div></div>
        </label>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">TeleOp</div>
    <label class="item item-input">
        <span class="input-label">Corner Shots</span>
        <input type="number" ng-model="rating.teleopCornerShots" />
    </label>
    <label class="item item-input">
        <span class="input-label">Corner Scores</span>
        <input type="number" ng-model="rating.teleopCornerScores" />
    </label>
    <label class="item item-input">
        <span class="input-label">Vortex Shots</span>
        <input type="number" ng-model="rating.teleopVortexShots" />
    </label>
    <label class="item item-input">
        <span class="input-label">Vortex Scores</span>
        <input type="number" ng-model="rating.teleopVortexScores" />
    </label>
    <label class="item item-input">
        <span class="input-label">Beacons</span>
        <input type="number" ng-model="rating.teleopBeacons" />
    </label>
    <label class="item item-select">
        <span class="input-label">Shot Location</span>
        <select ng-model="rating.shotLocation" ng-options="shotlocation as shotlocation for shotlocation in shotLocations"></select>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">End Game</div>
    <label class="item item-select">
        <span class="input-label">Cap Ball Location</span>
        <select ng-model="rating.capBallLocation" ng-options="capballlocation as capballlocation for capballlocation in capBallLocations"></select>
    </label>
    <label class="item item-select">
        <span class="input-label">Final Beacons</span>
        <select ng-model="rating.finalBeacons" ng-options="beacon as beacon for beacon in totalBeacons"></select>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">Overall</div>
    <label class="item item-input">
        <span class="input-label">Total Points</span>
        <input type="number" ng-model="rating.totalPoints" readonly="readonly"/>
    </label>
    <label class="item item-input">
        <span class="input-label">Notes</span>
        <textarea ng-model="rating.notes" ></textarea>
    </label>
    <br/>
    <qrcode text="{{rating}}" color-bright="#ff0000"></qrcode>
</div>
