<ion-header-bar>
    <button class="button button-clear icon ion-android-done" on-tap="edit()"></button>
    <button class="button button-clear icon ion-eye" on-tap="markComplete()" ng-show="!rating.complete"></button>
    <button class="button button-clear icon ion-eye-disabled" on-tap="markIncomplete()" ng-show="rating.complete"></button>
    <button class="button button-clear icon ion-android-delete" on-tap="deleteRecord()"></button>
</ion-header-bar>
<div class="list card" style="margin-top: 4em;">
    <div class="item item-divider">General</div>
    <label class="item item-input">
        <span class="item-label">Team</span>
        <label class="valueLabel">{{rating.team.name}}</label>
    </label>
    <label class="item item-input">
        <span class="input-label">Round</span>
        <label class="valueLabel">{{rating.roundNumber}}</label>
    </label>
    <label class="item item-select">
        <span class="input-label">Alliance</span>
        <select ng-model="rating.alliance" required>
            <option>Blue</option>
            <option>Red</option>
        </select>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">Autonomous</div>
    <label class="item item-toggle">
        <span class="input-label">Rescue Beacon</span>
        <label class="toggle">
            <input ng-model="rating.rescueBeacon" type="checkbox" placeholder="RescueBeacon" />
            <div class="track"><div class="handle"></div></div>
        </label>
    </label>
    <label class="item item-select">
        <span class="input-label">Climbers</span>
        <select ng-model="rating.autonomousClimbers" ng-options="value for value in shelterClimbers"></select>
    </label>
    <label class="item item-select">
        <span class="input-label">Parking</span>
        <select ng-model="rating.autonomousParking" ng-options="location as location for location in locations"></select>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">TeleOp</div>
    <label class="item item-input">
        <span class="input-label">Low Debris</span>
        <input type="number" ng-model="rating.lowDebris" />
    </label>
    <label class="item item-input">
        <span class="input-label">Mid Debris</span>
        <input type="number" ng-model="rating.midDebris" />
    </label>
    <label class="item item-input">
        <span class="input-label">High Debris</span>
        <input type="number" ng-model="rating.highDebris" />
    </label>
    <label class="item item-select">
        <span class="input-label">Shelter Climbers</span>
        <select ng-model="rating.scoresClimbers" ng-options="value for value in shelterClimbers"></select>
    </label>
    <label class="item item-select">
        <span class="input-label">Zipline Climbers</span>
        <select ng-model="rating.ziplineClimbers" ng-options="value for value in ziplineClimbers"></select>
    </label>
    <label class="item item-input">
        <span class="input-label">Debris in Floor</span>
        <input type="number" ng-model="rating.debrisInFloor" />
    </label>
</div>
<div class="list card">
    <div class="item item-divider">End Game</div>
    <label class="item item-select">
        <span class="input-label">Parking</span>
        <select ng-model="rating.endgameParking" ng-options="location as location for location in locations"></select>
    </label>
    <label class="item item-toggle">
        <span class="input-label">All Clear</span>
        <label class="toggle">
            <input ng-model="rating.allClear" type="checkbox" placeholder="All Clear" />
            <div class="track"><div class="handle"></div></div>
        </label>
    </label>
</div>
<div class="list card">
    <div class="item item-divider">Overall</div>
    <label class="item item-input">
        <span class="input-label">Total Points</span>
        <input type="number" ng-model="rating.totalPoints" readonly="readonly"/>
    </label>
    <label class="item item-input">
        <span class="input-label">Notes</span>
        <textarea ng-model="rating.notes" ></textarea>
    </label>
    <br/>
    <qrcode text="{{rating}}" color-bright="#ff0000"></qrcode>
</div>
